body,
html,
nav {
  background: #fff9f0;
  color: #161212;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #615a54;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mycard {
  transition: all 0.5s ease-in-out;
}

.mycard:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #161212;
}

@media (min-width: 1200px) {
  #my-carousel img {
    height: 90vh;
  }
  #text-quote {
    font-size: large;
  }
}

@media (min-width: 768px) {
  .modalCard img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .modalCard {
    width: 80vw;
  }
  .modalCard img {
    height: 65vh;
  }
}

@media (max-width: 576px) {
  .modalCard {
    width: 80vw;
  }
  .modalCard img {
    height: 50vh;
  }

  #text-quote {
    font-size: 1rem;
  }
}

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

/* fab icon */
body {
  position: relative;
}

.fab img {
  aspect-ratio: 1/1;
  width: 40px;
  position: fixed;
  margin: 20px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
}

.fab:hover img {
  transform: scale(1.08);
}

/* card on hover change to gif */
#uiuxcard div img {
  background-image: url(img/coba.png);
}

#uiuxcard:hover div img {
  background-image: url(img/coba.png);
}
